<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}" />
    <title>Photocard Trading Hub</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <h1 class="navbar-brand text-light align-middle ms-3">Photocard Trading Hub</h1>
                <h2 class="lead align-middle text-light me-3">Made to complete your collection</h2>
                <a href="/logout" class="btn btn-secondary align-middle ms-3 me-3">Log Out</a>
            </div>
        </nav>
        <hr>
        <div class="ms-3 mt-3 me-3">
            <h2 class="text-primary">Edit Your Photocard</h2>
            <form enctype="multipart/form-data" class="row g-3" action="/update" method="POST">
                <input type="hidden" name="id" value="{{photocard.id}}"></input>
                <div class="text-danger">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" name="member" class="form-control" id="floatingInput"
                            value="{{photocard.member}}" placeholder="Member(s)" />
                    <label for="member" class="ms-1">Member(s): </label>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="photo" class="ms-1">Upload a Photo: </label>
                    <input type="file" name="photo" class="form-control" id="formFile">
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" name="artist" class="form-control" id="floatingInput"
                            value="{{photocard.artist}}" placeholder="Group" />
                    <label for="artist" class="ms-1">Group: </label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" name="album_version" class="form-control" id="floatingInput"
                            value="{{photocard.album_version}}" placeholder="Album/Photocard Version" />
                    <label for="album_version" class="ms-1">Album/Photocard Version: </label>
                </div>
                <div class="form-floating mb-3 col-md-12">
                    <input type="textarea" name="details" class="form-control" id="floatingInput"
                            value="{{photocard.details}}" placeholder="Details" rows="3"/>
                    <label for="details" class="ms-1">Details: </label>
                </div>
                <div class="mb-3 text-end">
                    <a href="/delete/{{photocard.id}}" class="btn btn-danger align-middle me-3">Delete This Photocard</a>
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
            </form>
            <a href="/dashboard" class="btn btn-primary">Home</a>
        </div>
    </div>
</body>