<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}" />
    <title>Photocard Trading Hub</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <h1 class="navbar-brand text-light align-middle ms-3">Photocard Trading Hub</h1>
                <h2 class="lead align-middle text-light me-3">Made to complete your collection</h2>
                <a href="/logout" class="btn btn-secondary align-middle ms-3 me-3">Log Out</a>
            </div>
        </nav>
        <hr>
        <div class="ms-3 mt-3 me-3">
            <h2 class="text-primary mb-4">Details About This {{photocard.member}} Photocard</h2>
            <div class="container-fluid border border-secondary rounded text-center" style="max-width: 75%;">
                <div class="mx-3 my-3">
                    <div class="row justify-content-evenly mt-4 mb-4">
                        <div class="col-4">
                            <p class="fw-semibold">Album/Photocard Version: </p>
                            <p>{{photocard.album_version}}</p>
                        </div>
                        <div class="col-4">
                            <p class="fw-semibold">Group: </p>
                            <p>{{photocard.artist}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-evenly mb-4">
                        <div class="col-4">
                            <p class="fw-semibold">Listed By: </p>
                            <p>{{photocard.user.first_name}}</p>
                        </div>
                        <div class="col-4">
                            <p class="fw-semibold">Listed On: </p>
                            <p>{{photocard.created_at}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-evenly mb-4">
                        <div class="col-4">
                            <p class="fw-semibold">Last Updated: </p>
                            <p>{{photocard.updated_at}}</p>
                        </div>
                        <div class="col-4">
                            <p class="fw-semibold">Details: </p>
                            <p>{{photocard.details}}</p>
                        </div>
                    
                </div>
                {% if photocard.user.id == user.id %}
                <a href="/photocards/edit/{{photocard.id}}" class="btn btn-success">Edit</a>
                {% endif %}
            </div>
        </div>
        <div class="text-end">
            <a href="/dashboard" class="btn btn-primary mt-3">Home</a>
        </div>
    </div>
</body>